body {
    background: #6699ff;
    font-family: Tahoma, Arial, sans-serif;
}

h1 {
    color: white;
    font: 32px Garamond, Helvetica, serif;
    text-align: center;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 7px;
    
}

h2 {
    text-align: center;
    color: white;
}

.h1-div{
    border: solid;
    border-radius: 5%; 
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 50px;
    background:#99bbff;
    border-color:#99bbff; ;
}

table {
    width: 50%;
}

thead {
    text-align: left;
}

label {
    display: block;
}

#submit-btn {
    display: block;
}

.table-content {
    margin-left: 33%;
    padding: 20px;
}

.form-layout {
    margin-left: 25%;
    padding: 20px;
}
.form-section {
    background: #002b80;
    margin-left: 33%;
    margin-right: 33%;
    padding: 10px;
    border-radius: 5%;
    
}

.contact-section {
    margin-left: 40%;
    margin-bottom: 40px;
}

.label-input{
    color: white;
}

.number {
    color: white;
    padding: 5px;
    border: solid;

}


